<div ng-controller="ApplicationsPlugin.ApplicationsPluginController">

	<div class="row-fluid">
		<h1>Applications Status</h1>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>CPU</td>
					<td>Heap</td>
					<td>Connect</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in applications">
					<td>{{app.name}}</td>
					<td>{{app.cpu}}</td>
					<td>{{app.heap}}</td>
					<td><input type="button" value="connect" ng-click="connect(app);"></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>